
body {
  font-family: 'Courier New', Courier, monospace;
  background-color: antiquewhite;
}

.container {
  background-color: white;
  width: 500px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

#inputPanel{
  height: 100px;
}

.playerInput{
  margin: 10px;
  float: left;
}

 #inputButton{
  width: 375px;
  margin: 10px;
}

.output{
  width: 200px;
  float: left;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gamePanel{
  margin: 10px;
  height: 100px;
  text-align: center;
}

#rollPanel {
  text-align: center;
}