
.row {
  width: 500px;
}

#enterNames{
  margin: 10px;
  height: 100px;
}

.playerInput{
  width: 200px;
  float: left;
}

#enterNames button{
  width: 350px;
}

.output{
  width: 200px;
  float: left;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gamePanel{
  margin: 10px;
  height: 100px;
  text-align: center;
}

#rollPanel {
  text-align: center;
}